<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451046688273-i1bdg6aahpemn4fb17dctv6d3g54aam0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451046688273-i1bdg6aahpemn4fb17dctv6d3g54aam0</string>
	<key>API_KEY</key>
	<string>AIzaSyDEkOQG2ilK99y9wJRGx2xXClwD9WjKtHI</string>
	<key>GCM_SENDER_ID</key>
	<string>451046688273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spotifyClone</string>
	<key>PROJECT_ID</key>
	<string>my-spotify-clone-75fee</string>
	<key>STORAGE_BUCKET</key>
	<string>my-spotify-clone-75fee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451046688273:ios:7e408556b726448459d3b0</string>
</dict>
</plist>